* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	font-size: 12px;
	line-height: 1.3;
	font-family: Arial, Helvetica, Sans-Serif;
	color: #ccc;
	background: #010911;
}

a {
	color: #e7b038;
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

a img {
	border: 0;
}

input,
textarea,
select {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

textarea {
	overflow: auto;
}

.cl {
	display: block;
	height: 0;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
	clear: both;
}

.notext {
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}

.left,
.alignleft {
	float: left;
	display: inline;
}

.right,
.alignright {
	float: right;
	display: inline;
}

.text-right {
	text-align: right;
}

h2 {
	font-size: 10px;
	color: #f2a223;
	font-weight: bold;
}

h3 {
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}

h4 {
	font-size: 14px;
	color: #f3b12b;
	font-weight: bold;
}

#shell {
	width: 980px;
	margin: 0 auto;
}

#header {
	position: relative;
}

h1#logo {
	position: absolute;
	top: 37px;
	left: 0;
}



h1#logo a {
	float: left;
	width: 239px;
	height: 49px;
	line-height: 0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 48px;
}

#navigation {
	float: right;
	clear: right;
	padding-top: 28px;
	padding-bottom: 47px;
}

#navigation ul {
	list-style: none;
}

#navigation ul li {
	float: left;
	display: inline;
	padding-left: 29px;
}

#navigation ul li a {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

#navigation ul li a.active,
#navigation ul li a:hover {
	color: #f3b12b;
	transition: all .2 ease;
	text-shadow: 0 0 10px #f3b12b;
}

#sub-navigation {
	display: block;
	clear: right;
	border-top: 1px solid #f3b12b;
	padding: 8px 0;
}

#sub-navigation ul {
	list-style: none;
}

#sub-navigation ul li {
	float: left;
	display: inline;
	padding-right: 23px;
}

#sub-navigation ul li a {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	line-height: 24px;
	text-decoration: none;
}

#sub-navigation ul li a:hover {
	opacity: .6;
	transition: all .2 ease;
}

#search {
	width: 346px;
	margin: 0 0 0 auto;
}

#search label {
	float: right;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	line-height: 24px;
	padding-right: 16px;
	margin-bottom: 12px;
	cursor: pointer;
}

#search:hover label {
	opacity: .6;
}

#search .search-field {
	width: 300px;
	border: 1px solid #413e3e;
	background: #000;
	color: #787878;
	padding: 4px 0 4px 4px;
}

.box {
	width: 980px;
	padding-bottom: 21px;
}

.box .head {
	width: 980px;
	padding-top: 14px;
	padding-bottom: 11px;
}

.box .head h2 {
	float: left;
	display: inline;
}



.box .movie {
	width: 152px;
	float: left;
	padding-right: 12px;
	cursor: pointer;
}

.movie-image {
	float: left;
	width: 152px;
	height: 214px;
	position: relative;
}

.movie-image img {
	width: 152px;
	height: 214px;
}

.movie-image a {
	float: left;
	display: inline;
	width: 152px;
	height: 214px;
	position: relative;
	z-index: 2;
}

.play {
	position: absolute;
	top: 0;
	left: 0;
	width: 152px;
	height: 214px;
	background: url('./images/image-hover.png');
	display: block;
	z-index: 5;
	cursor: pointer;
	display: none;
}

.play:hover {
	display: block;
}

.movie span.name {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding-top: 160px;
	display: block;
}

.box .last {
	padding: 0;
}

.rating {
	float: left;
	width: 152px;
	padding-top: 8px;
}

.rating p {
	float: left;
	font-size: 10px;
	color: #fff;
	font-weight: bold;
}

.rating .stars {
	float: left;
	width: 60px;
	height: 11px;
	background: url('images/stars.gif') no-repeat 0 0;
	margin-left: 2px;
}

.rating .stars-in {
	width: 60px;
	display: inline;
	background: url('images/stars.gif') no-repeat bottom;
	position: absolute;
	height: 11px;
	font-size: 0;
	line-height: 0;
}

.comments {
	background: url('images/comments.gif') no-repeat 0 center;
	padding-left: 12px;
	float: right;
}

#news {
	width: 460px;
	float: left;
}

#news .head {
	width: 460px;
	padding-top: 11px;
	padding-bottom: 14px;
}

#news h3,
#coming h3 {
	float: left;
}

#coming {
	width: 490px;
	float: left;
	padding-left: 30px;
}

#coming .head {
	width: 490px;
	padding-top: 11px;
	padding-bottom: 14px;
}

#coming .content {
	min-height: 130px;
	height: auto !important;
	height: 130px;
	padding-bottom: 20px;
}

#coming .content h4 {
	padding-bottom: 3px;
}

.content {
	padding-bottom: 28px;
}

.content .date {
	font-size: 10px;
	color: #fff;
}

.content img {
	float: left;
	width: 68px;
	padding-right: 8px;
}

.content p {
	font-size: 13px;
	color: #fff;
	line-height: 16px;
}

.content a {
	font-size: 11px;
}

#footer {
	padding: 15px 0 0 0;
	font-size: 14px;
}

#footer,
#footer a {
	color: #9c9c9c;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: none;
}

#footer p {
	margin: 0;
	display: inline;
	padding: 0 11px 11px 0;
	line-height: normal;
	white-space: nowrap;
}

#footer i+i {
	margin-left: 11px;
}

#footer i:hover {
	opacity: .5;
	color: #f3b12b;
	transition: all .2 ease;
	text-shadow: 0 0 10px #f3b12b;
}

#footer .lf {
	float: left;
	font-size: 26px;
}

.p-32 {
	padding-top: 32px;
}

.row {
	display: flex;
}

.trailer {
	background-color: rgba(0, 0, 0, .7);
	position: fixed;
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.trailer .close {
	position: fixed;
	right: 0;
	top: 0;
	width: 75px;
	height: 75px;
	background-color: transparent;
	outline: none;
	border: none;
}

.trailer .close i {
	font-size: 36px;
	color: #aaa;
}

.trailer .close:hover i {
	color: #ddd;
}